@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "dreamcare";
  default: true;
  prefersdark: false;
  color-scheme: dark;

  --color-base-100: oklch(13% 0.008 260);
  --color-base-200: oklch(19% 0.01 260);
  --color-base-300: oklch(25% 0.012 260);
  --color-base-content: oklch(95% 0.005 260);

  --color-primary: oklch(65% 0.25 250);
  --color-primary-content: oklch(98% 0.01 250);

  --color-secondary: oklch(72% 0.22 180);
  --color-secondary-content: oklch(10% 0.02 180);

  --color-accent: oklch(75% 0.2 320);
  --color-accent-content: oklch(98% 0.01 320);

  --color-neutral: oklch(19% 0.01 260);
  --color-neutral-content: oklch(95% 0.005 260);

  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);

  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);

  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);

  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
